body{
    font-family: monospace;
}
h1{
    color: blue;
    text-align: center;
}

h3{
    color: blue;
    text-align: center;
}

form{
    text-align: center;
    margin: auto;
}

 div{
    margin-left: -100px;
 }
